{% extends 'halls/base.html' %} {% block content %}
<h1>Add Video to {{hall.title}}</h1>
<form method="POST" id="submit_video">
  {% csrf_token %} {% load widget_tweaks %} {% for field in form %}
  <div class="form-group {% if fields.error %}alert alert-danger{% endif %}">
    {{field.errors}} {{field.label_tag}} {% render_field field class="form-control" %}
  </div>
  {% endfor %}
  <input type="submit" class="btn btn-primary" value="Add" />
</form>

<h2>OR</h2>
<form>
  {% for field in search_form %}
  <div class="form-group">
    {{field.errors}} {{field.label_tag}} {% render_field field class="form-control" %}
  </div>
  {% endfor %}
</form>

<div>
  <div id="search_results" class="row"></div>
</div>

<script>
  var delayTimer;
  $("#id_search_terms").keyup(function () {
    clearTimeout(delayTimer);
    $("#search_results").html("<div class='col ml-3'> Loading....<div>");
    delayTimer = setTimeout(function () {
      var text = $("#id_search_terms").val();
      $.ajax({
        url: "/video/search",
        data: {
          search_terms: text,
        },
        dataType: "json",
        success: function (data) {
          var results = "";
          $("#search_results").text("");

          const result = data["items"].reduce(function (acc, video) {
            acc += `
              <div class="col-md-4 mt-3">
                <div class="card mb-4 shadow-sm">
                  <iframe width="100%" height="205" src="https://www.youtube.com/embed/${video["id"]["videoId"]}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                  </iframe>
                  <div class="card-body"><p class="card-text">${video["snippet"]["title"]}</p></div>
                  <a href="#" class="btn btn-primary" onClick="addVideo('${video["id"]["videoId"]}')">Add</a>
                </div>
              </div>
              `;

            return acc;
          }, "");
          $("#search_results").append(result);
        },
      });
    }, 1000);
  });

  function addVideo(video_id) {
    $("#id_url").val(`https://www.youtube.com/watch?v=${video_id}`);
    $("#submit_video").submit();
  }
</script>
{% endblock %}
